

.cardContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}

.upper{
  display: flex;
}

.card{
  background-color: rgb(130, 185, 185);
  text-align: center;
  min-height: 200px;
  max-height: 500px;
  max-width: 400px;
  min-width: 200px;
}

body{
  background-color: #cb9df0;
background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}