#subPart{
    display: flex;
    justify-content: center;
    align-items: center;
}

.todos{
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(5,1fr);
}